@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic);

.outer {
  width: 500px;
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}




.slideshow {
  margin: 0 auto;
  max-width: 80%;
  height: 120%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1500ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 70%;
  border-radius: 40px;
}

/* Buttons */






.wrapper {
  --pp-purple: #673753;
  --pp-blue: #0b3956;
  --pp-ltblue: #293133;
  --sp-yellow: #605d48;
  background-image: linear-gradient(to right, var(--pp-blue),var(--pp-ltblue),var(--sp-yellow),var(--pp-purple),var(--pp-blue));
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,.5);
  font-family: 'Lato', Arial, sans-serif;
  height: 100%;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}
.rcorners1 {
  border-radius: 25px 0px 0px 25px;
  background: black;
  padding: 10px;
  margin-bottom: 5px;
  color:white;
  width:80px;
  max-width: 80px;
}
.rcorners2 {
  border-radius: 0px 25px 25px 0px;
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  color: black;
  width:80px;
  max-width: 80px;
}
.corners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes gradients {
  0%   {background-position: 0 0;}
  25% {background-position: 50% 0;}
  50% {background-position: 90% 0;}
  60% {background-position: 60%;}
  75% {background-position: 40%;}
  100%  {background-position: 0 0;}
}