.App {
  text-align: center;
  background-color: grey;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.outer {
  width: 500px;
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}


.scrollable-div {
  background-color: #f1f1f1;
  height: 150px;
  overflow-x: scroll;
  margin: 20px;
  text-align: justify;
  padding: 20px;

}
